<package-def>
	<module name="ТипыРасчетаЗадержки" file="src/core/Модули/ТипыРасчетаЗадержки.os"/>
	<module name="СостоянияПредохранителя" file="src/core/Модули/СостоянияПредохранителя.os"/>
	<class name="АдаптерОперацииОтказоустойчивости" file="src/core/Классы/АдаптерОперацииОтказоустойчивости.os"/>
	<class name="АдаптерОбработчикаОтказоустойчивости" file="src/core/Классы/АдаптерОбработчикаОтказоустойчивости.os"/>
	<class name="ПараметризованноеДействие" file="src/core/Классы/ПараметризованноеДействие.os"/>
	<class name="КонтекстОшибкиЗапасногоСценария" file="src/core/Классы/КонтекстОшибкиЗапасногоСценария.os"/>
	<class name="КонтекстРазмыканияПредохранителя" file="src/core/Классы/КонтекстРазмыканияПредохранителя.os"/>
	<class name="КонтекстПопыткиПовтора" file="src/core/Классы/КонтекстПопыткиПовтора.os"/>
	<class name="КонтекстПереполненияПараллелизма" file="src/core/Классы/КонтекстПереполненияПараллелизма.os"/>
	<class name="КонтекстПревышенияЛимита" file="src/core/Классы/КонтекстПревышенияЛимита.os"/>
	<class name="ШагПайплайнаОтказоустойчивости" file="src/core/Классы/ШагПайплайнаОтказоустойчивости.os"/>
	<class name="ПайплайнОтказоустойчивости" file="src/core/Классы/ПайплайнОтказоустойчивости.os"/>
	<class name="СтратегияОграниченияПараллелизма" file="src/core/Классы/СтратегияОграниченияПараллелизма.os"/>
	<class name="СтратегияПредохранителя" file="src/core/Классы/СтратегияПредохранителя.os"/>
	<class name="СтратегияЗапасногоСценария" file="src/core/Классы/СтратегияЗапасногоСценария.os"/>
	<class name="СтратегияОграниченияВызовов" file="src/core/Классы/СтратегияОграниченияВызовов.os"/>
	<class name="СтратегияПовтора" file="src/core/Классы/СтратегияПовтора.os"/>
	<class name="СтратегияТаймаута" file="src/core/Классы/СтратегияТаймаута.os"/>
</package-def>
